body{
  font-size: 18px;
  color: darkgray;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  margin-left: 24px;
  margin-right: 24px;
}

header .gray{
  color: gray;
}

.logo{
  display: flex;
  align-items: center;
}

.container{
  max-width: 100%;
}

header h1{
  font-size: 1.5rem;
}

.selection{
  margin-right: 16px;
  display: inline;
}

header a{
    text-decoration: none;
    color: darkgray;
}
.info{
  display: flex;
  justify-content: center;
  background-color: gray;
}


.container{
  max-width: 100%;
  margin: auto 0;
}

.banner{
  margin: 24px 32px;
  width: 60%;
  text-align: center;
}

.banner img{
width: 60%;
}

.banner h1{
  font-size: 3rem;
}
